<h2>Add Event Schedule</h2>

<form method="POST">

    <div class="mb-3">

        <label>Category</label>

        <select
            name="category_id"
            class="form-control"
        >

            <option value="">
                General
            </option>

            {% for category in categories %}

                <option value="{{ category.id }}">

                    {{ category.category_name }}

                </option>

            {% endfor %}

        </select>

    </div>

    <div class="mb-3">

        <label>Participant / Team Name</label>

        <input
            type="text"
            name="participant_name"
            class="form-control"
            required
        >

    </div>

    <div class="mb-3">

        <label>Stage / Round</label>

        <input
            type="text"
            name="stage_name"
            class="form-control"
            placeholder="Semi Final, Finals, Classical Round"
            required
        >

    </div>

    <div class="mb-3">

        <label>Event Day</label>

        <input
            type="date"
            name="event_day"
            class="form-control"
            required
        >

    </div>

    <div class="mb-3">

        <label>Start Time</label>

        <input
            type="time"
            name="start_time"
            class="form-control"
            required
        >

    </div>

    <div class="mb-3">

        <label>End Time</label>

        <input
            type="time"
            name="end_time"
            class="form-control"
            required
        >

    </div>

    <button
        type="submit"
        class="btn btn-success"
    >
        Add Schedule
    </button>

</form>
